######################### dependencies
node_modules
dist
dist-ssr


######################### environments
*.local


######################### production
build


######################### testing
coverage
*.lcov
test-results.xml


######################### vite logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


######################## editor fluff
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

######################### filesystems fluff
.DS_Store

# Local Netlify folder
.netlify
