#root, body{
  background: #F7F7F7;
  height:100vh;
}

@font-face {
  font-family: Haskoy;
  src: url(../../../public/Haskoy-Regular.woff2);
}

@font-face {
  font-family: Haskoy-bold;
  src: url(../../../public/Haskoy-Bold.woff2);
}

h1, h2, h3, h4, h5, h6, li, p, a, button, input {
  font-family: Haskoy;
}

h2 {
  font-size: 60px;
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: right;
  color: green;
  margin: 4px;
  animation-name: slide-in;
  animation-duration: 1s;
}

@keyframes slide-in {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
  margin: 4px;
  background-color:darkslategray;
  color: lightgray;
}

/* Styles for Navbar */
.navbar {
  width: 50vw;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: nowrap;
}

.navbar-item {
  margin: 10px;
  font-size: 24px;
}

.navbar-item > a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.navbar-links {
  display: flex;
  list-style: none;
  padding: 8px;
}
.navbar-links li {
  padding: 4px;
}

/* Page Header */
.page-header {
  margin-bottom: 2em;
  width: 100%;
  padding: 10px;
  color: white;
  background-color: #df4343;
}
/* End styles for nav bar/header */

/* Start styles for Login Page */

.account-input {
  background-color:#231F20;
  color:white;
  font-size:30px;
  padding:10px;
  padding-left:15px;
  margin:15px;
  width: 75%;
  border-radius: 5px;
}

.account-button{
  background-color: #231F20;
  font-size: 30px;
  margin-bottom: 25px;
}

.account-button:hover {
  background-color: #3AD820;
  color: black;
}

/* Start Styles for Main page & buttons */

.mainpage {
  display: flex;
  justify-content: space-between;
  height: 80vh;
  width: 100%;
}

.right-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.left-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.right-button-container > a,
.left-button-container > a {
  text-decoration: none;
  color: white;
}

.right-button-container > a:hover,
.left-button-container > a:hover {
  background-color: #3AD820;
  color: black;
}

.action-btn {
  margin-top: 30px;
  width: 260px;
  height: 80px;
  border-radius: 5px;
  font-size: 30px;
  background-color: #231F20;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  font-family: Haskoy;
  padding: 18px;
}

.right-button-container {
  margin-right: 50px;
}

.left-button-container {
  margin-left: 50px;
}
/* End Styles for Main page buttons */

/* Start Styles for About Page */

.about-container{
  position: fixed;
  background-color: #231F20;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}

.about-img{
  padding:50px;
}

.about-text{
  padding: 40px;
}

.about-container p {
  color:white;
  font-size: 28px;
}

/* End Styles for About Page */


/* Start Styles for Send Coins */
.price-container{
  margin-top:60px;
  position:relative;
  display: inline-block;
}

.coin-input {
  margin: 0 auto;
  padding: 20px;
  width: 350px;
  background-color: #231F20;
  color: white;
  border: none;
  font-size: 24px;
  margin:10px;
}

.coin-input::before{
  content: '';
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 70%; 
  width: 2px;
  background-color: white;
  z-index: 1;
}

.coin-input::placeholder {
  color: white;
  font-weight: 500;
}

.bold-coin{
  font-family: Haskoy-bold;
  font-size: 21px;
}


/* End styles for Send Coins */


/*  Start Styles for My Account Page */
.account-container{
  margin: 2rem;
}

.account{
  padding-bottom: 1.2rem;
  padding-top: 1.2rem;
}

.account-actions{
  display: flex;
  flex-direction: column;
  align-items: center;
}

button.danger{
  background-color: red;
}

.delete-dialog {
  z-index: 100;
  max-width: 60%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.delete-msg{
  padding-bottom: 100px;
}

/*  End of styles for My Account Page */


/*  Start Styles for Purchase Page */

.purchase-container{
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px; */
    margin:2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.purchase-form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(8px); 
  z-index: 99; 
}

.checkout-form-popup{
  z-index: 100;
  max-width: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.coin-amount-input{
  max-width: 40%;
  border: 2px solid black;
  font-size:xx-large;
  margin-bottom: 10px;
}

.sirch-symbol-large{
  font-size: xx-large;
  padding-right: 10px;
}

/* Styles for the success message */
.success {
  /* Your styles here */
  background-color: lightgreen;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

/* Styles for labels */
label {
  /* Your styles here */
  font-weight: bold;
  display: block; /* Ensure labels are on separate lines */
  margin-bottom: 5px; /* Add some space below labels */
}

/* Styles for inputs */
input {
  /* Your styles here */
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 100%; /* Make inputs fill their container */
  box-sizing: border-box; /* Include padding in width calculation */
}

/* Styles for the submit button */
button {
  /* Your styles here */
  background-color: #007bff; /* Blue color */
  color: white; /* Text color */
  padding: 10px 20px; /* Adjust padding as needed */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px; /* Add some space on top */
}

/* Additional styles as needed */


.bottom-btn-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  padding: 20px;
}

.big-btn {
  background-color: #231F20;
  text-decoration: none;
  text-align: center;
  font-size: x-large;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  width: 300px;
}

.big-btn:hover{
  background-color: #3AD820;
  color: black;
}

.big-btn-light {
  background-color: #F7F7F7;
  text-decoration: none;
  text-align: center;
  font-size: x-large;
  font-weight: 600;
  color: #231F20;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  width: 300px;
}

.big-btn-light:hover{
  background-color: #3AD820;
  color: black;
}

/* End of styles for buy coin (Deposit) page



/* Start styles for Balance Inquiry */
.balance-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.balance-box{
  background-color: #231F20;
  border-radius: 5px;
  color:white;
  height:65px;
  width: 400px;
  text-align: center;
  padding:15px;
}

.green-coin{
  font-size: 26px;
  color:#3AD820;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-balance {
  margin: 80px auto;
  padding: 20px;
  width: 350px;
  max-width: 350px;
  background-color: #5590e2;
  color: white;
  border: none;
  font-size: 16px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.balance-btn {
  margin-top: 30px;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  background-color: #5d5d5d;
  color: white;
  border: none;
  width: 90%;
  max-width: 300px;
  text-align: center;
}

.balance-btn:hover {
  color: black;
}

.balance {
  margin-top: 15px;
}

.bottom-btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  padding: 10px;
}

.bottom-btn-container a {
  margin: 5px;
}
/* End styles for Balance Inquiry */



/* Start styles for Transaction History */
.transactions-container {
  margin: 20px;
  height: 65vh;
  overflow: scroll;
}

.transactions-header {
  padding-bottom: 20px;
  margin: 20px;
}

.transactions, .transactions-headers {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  }

  .transactions-headers p {
    font-family: Haskoy-bold;
    font-size: 20px;
  }
/* End styles for Transaction History */


/* Mobile styles */

@media only screen and (min-width: 768px) {
  .email-balance,
  .balance-btn {
    width: 70%;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar {
    justify-content: flex-start;
  }

  .navbar-item {
    font-size: 24px;
  }

  .page-header {
    padding: 10px;
    font-size: 1.2em;
  }

  .cash-input,
  .total-input {
    width: 60%;
    max-width: 300px;
  }

  .big-btn {
    width: 70%;
    max-width: 350px;
  }
}

/* Start Styles for buy money Mobile */
@media screen and (max-width: 768px) {
  .page-text {
    margin-top: 15px;
    font-size: large;
  }

  .first-row,
  .second-row {
    flex-direction: row;
    flex-wrap: wrap;

    margin-bottom: 5px;
  }

  .cash-btn {
    width: calc(31.33% - 10px);
    margin-bottom: 5px;
    font-size: 14px;
    padding: 5px;
  }

  .cash-input {
    width: 50%;
    margin: 4px 0;
    padding: 15px;
    background-color: #5590e2;
    color: white;
    border: none;
    font-size: 18px;
  }

  .total-input {
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    background-color: #5d5d5d;
    color: white;
    font-size: 18px;
  }

  .big-btn {
    width: 70%;
    max-width: 350px;
  }
}
/* End Styles for buy money Mobile */

/* Start Styles for send money Mobile */
@media (max-width: 767px) {
  .send-coin-container {
  }

  .cash-btn {
    width: calc(33% - 10px);
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  .cash-input {
    width: 100%;
  }

  .bottom-btn-container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .big-btn {
    width: 100%;
    margin-bottom: 10px;
  }
}
/* End Styles for send money Mobile */

/* Start Styles for Prefrences Mobile */
@media screen and (max-width: 600px) {
  .balance-container {
    text-align: center;
  }

  .bottom-btn-container {
    flex-direction: column;
    align-items: center;
  }

  .page-text {
    margin-bottom: 10px;
  }
}
/* End Styles for Preferences Mobile */
