@font-face {
  font-family: Haskoy;
  src: url(/Haskoy-Regular.woff2);
}

@font-face {
  font-family: Haskoy-bold;
  src: url(/Haskoy-Bold.woff2);
}

#root, body {
  background: #F7F7F7;
  height: 100vh;
  overflow-y: auto;
}


/* Styles for primal HTML elements */
h1, h2, h3, h4, h5, h6, li, p, a, button, input, label {
  font-family: Haskoy;
}

h2 {
  font-size: 60px;
}

h1, h2, h3, h4, h5, h6, p {
  text-align: center;
}

label {
  font-weight: bold;
  display: block; /* Ensure labels are on separate lines */
  margin-bottom: 5px; /* Add some space below labels */
}

input {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 100%; /* Make inputs fill their container */
  box-sizing: border-box; /* Include padding in width calculation */
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 300px;
}

/* Page Header */
/* .page-header {
  margin-bottom: 2em;
  width: 100%;
  padding: 10px;
  color: white;
  background-color: #df4343;
} */

header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: right;
  color: green;
  margin: 4px;
  animation-name: slide-in;
  animation-duration: 1s;
}

@keyframes slide-in {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

footer {
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
  padding: 0px 4px 0px 4px;
  background-color: darkslategray;
  color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}


/* Styles for Navbar */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: nowrap;
  background-color: black;
}

.navbar-item {
  margin: 10px;
  font-size: 24px;
  color: white;
}

.navbar-item > a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.navbar-links {
  display: flex;
  list-style: none;
  padding: 8px;
}

.navbar-links li {
  padding: 4px;
}

.nav-bar-current-balance {
  margin: 10px;
  font-size: 24px;
  background-color: lightgray;
}


/* Styles for Login Page */
.account-privacy-statement {
  width: 75%;
}

.account-input {
  background-color: #231F20;
  color: white;
  font-size: 30px;
  padding: 10px;
  padding-left: 15px;
  margin: 10px 0px 10px 0px;
  width: 75%;
  border-radius: 5px;
}

.account-button {
  background-color: #231F20;
  font-size: 30px;
  margin-bottom: 25px;
}

.account-button:hover {
  background-color: #3AD820;
  color: black;
}

.account-row {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

input#email {
  width: 65%;
}

input#first-name, input#last-name {
  width: 30%;
}

div#is-email-private {
  display: contents;
}

input#is-email-private-checkbox {
  width: min-content;
  margin: 0px;
}

label#is-email-private-label {
  vertical-align: middle;
  margin: 0px;
}

div#is-name-private {
  display: contents;
}

input#is-name-private-checkbox {
  width: min-content;
  margin: 0px;
}

label#is-name-private-label {
  vertical-align: middle;
  margin: 0px;
}

div#account-user-handle-row {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;

  button {
    margin: 10px 0px;
  }

  div {
    width: 30%;
  }
}

input#user-handle {
  width: 30%;
  text-align: center;
  padding-left: unset;
}


/* Styles for Main page */
.mainpage {
  display: flex;
  justify-content: space-between;
  height: 90vh;
  width: 100%;
  flex-wrap: wrap;
  align-content: space-around;
  overflow-y: auto;
}

.right-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.left-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.right-button-container > a, .left-button-container > a {
  text-decoration: none;
  color: white;
}

.right-button-container > a:hover, .left-button-container > a:hover {
  background-color: #3AD820;
  color: black;
}

.action-btn {
  margin-top: 30px;
  width: 260px;
  height: 80px;
  border-radius: 5px;
  font-size: 30px;
  background-color: #231F20;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  font-family: Haskoy;
  padding: 18px;
}

.right-button-container {
  margin-right: 50px;
}

.left-button-container {
  margin-left: 50px;
}


/* Styles for Coming Soon Page */
.coming-soon-container {
  position: fixed;
  background-color: #231F20;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}

.coming-soon-img {
  padding: 50px;
}

.coming-soon-text {
  padding: 40px;
}

.coming-soon-container h1 {
  color: white;
}

.coming-soon-container p {
  color: white;
  font-size: 24px;
  text-align: left;
}


/* Styles for Offline Page */
.offline-container {
  position: fixed;
  background-color: #231F20;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}

.offline-img {
  padding: 50px;
}

.offline-text {
  padding: 40px;
}

.offline-container h1 {
  color:white;
}

.offline-container p {
  color:white;
  font-size: 24px;
  text-align: left;
}


/* Styles for About Page */
.about-container {
  position: fixed;
  background-color: #231F20;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}

.about-img {
  padding: 50px;
}

.about-text {
  padding: 40px;
}

.about-container p {
  color:white;
  font-size: 24px;
  text-align: left;
}


/* Styles for Send Coins */
.user-card {
  border: 2px solid black;
}

.user-card:hover {
  background-color: #3AD820;
  color: black;
}

.price-container {
  margin-top: 60px;
  position: relative;
  display: inline-block;
}

.coin-input {
  margin: 0 auto;
  padding: 20px;
  width: 350px;
  background-color: #231F20;
  color: white;
  border: none;
  font-size: 24px;
  margin:10px;
}

.coin-input::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 70%; 
  width: 2px;
  background-color: white;
  z-index: 1;
}

.coin-input::placeholder {
  color: white;
  font-weight: 500;
}

.bold-coin {
  font-family: Haskoy-bold;
  font-size: 21px;
}


/* Styles for My Account Page */
.account-container {
  margin: 2rem;
  height: 90vh;
  overflow-y: auto;
}

.account {
  padding-bottom: 1.2rem;
  padding-top: 1.2rem;
}

.account-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button.danger {
  background-color: red;
}

.delete-dialog {
  height: 80vh;
  overflow-y: auto;
  z-index: 100;
  max-width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  p, .big-btn, #user-handle {
    width: 100%
  }
}

.bottom-btn-container {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  padding: 20px;
  bottom: 40px;
}

.big-btn {
  background-color: #231F20;
  text-decoration: none;
  text-align: center;
  font-size: x-large;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  width: 300px;
}


/* Styles for Purchase Page */
.purchase-container {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    overflow-y: auto;
}

.purchase-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(8px); 
  z-index: 99; 
}


/*  Styles for Checkout Dialog */
.checkout-form-dialog {
  z-index: 100;
  max-width: 90vw;
  max-height: 80vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.payment-dialog {
}

.payment-header {
}

.payment-form {
  height: auto;
}

.payment-footer {

}

.coin-amount-input {
  max-width: 40%;
  border: 2px solid black;
  font-size: xx-large;
  margin-bottom: 10px;
}

.sirch-symbol-large {
  font-size: xx-large;
  padding-right: 10px;
}


/* Styles for the success message */
.success {
  background-color: lightgreen;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}


/* Additional styles as needed */
.button-group {
  margin-bottom: 20px;
}

.bottom-btn-container {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  padding: 20px;
  bottom: 40px;
}

.big-btn {
  background-color: #231F20;
  text-decoration: none;
  text-align: center;
  font-size: x-large;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  width: 300px;
}

.big-btn:hover {
  background-color: #3AD820;
  color: black;
}

.bottom-btn-container-light {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: start;
  margin-top: 20px;
  padding: 20px;
}

.big-btn-light {
  background-color: #F7F7F7;
  text-decoration: none;
  text-align: center;
  font-size: x-large;
  font-weight: 600;
  color: #231F20;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  width: 300px;
}

.big-btn-light:hover {
  background-color: #3AD820;
  color: black;
}


/* Styles for Balance Inquiry */
.balance-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  overflow-y: auto;
}

.balance-box {
  background-color: #231F20;
  border-radius: 5px;
  color: white;
  height:65px;
  width: 400px;
  text-align: center;
  padding: 15px;
}

.green-coin {
  font-size: 26px;
  color: #3AD820;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  overflow-y: auto;
}

.email-balance {
  margin: 80px auto;
  padding: 20px;
  width: 350px;
  max-width: 350px;
  background-color: #5590e2;
  color: white;
  border: none;
  font-size: 16px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.balance-btn {
  margin-top: 30px;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  background-color: #5d5d5d;
  color: white;
  border: none;
  width: 90%;
  max-width: 300px;
  text-align: center;
}

.balance-btn:hover {
  color: black;
}

.balance {
  margin-top: 15px;
}

.button-group {
  margin-bottom: 20px;
}

.bottom-btn-container {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  padding: 20px;
  bottom: 40px;
}

.bottom-btn-container a {
  margin: 5px;
}


/* Styles for Transaction History */
.transactions-container {
  margin: 20px;
  height: 90vh;
  overflow-y: auto;
}

.transactions-header {
  padding-bottom: 20px;
  margin: 20px;
}

.transactions, .transactions-header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  }

  .transactions-header p {
    font-family: Haskoy-bold;
    font-size: 20px;
  }

  .bottom-btn-container-light {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    padding: 20px;
    bottom: 20px;
  }
  
  .big-btn {
    background-color: #231F20;
    text-decoration: none;
    text-align: center;
    font-size: x-large;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    width: 300px;
  }



















/* Responsive styles */
@media (max-width: 768px) {
  .purchase-container {
    margin: 1rem; 
    min-height: 90vh;
    padding: 0 1rem;
    justify-content: flex-start;
    align-items: stretch; 
  }

  button {
    padding: 12px;
    font-size: 1rem;
    margin-top: 10px;
  }

  .bottom-btn-container {
    position: fixed; 
    left: 0;
    right: 0;
    bottom: 40px; 
    display: flex;
    justify-content: center;
    padding: 15px 0;
    margin-top: 20px;
  }

  .big-btn {
    font-size: large; 
    padding: 12px;
    margin-bottom: 20px;
    bottom: 40px;
  }

  .coin-input {
    padding: 10px;
    font-size: 1rem;
  }
}



/* Mobile styles */
@media only screen and (min-width: 768px) {
  .email-balance,
  .balance-btn {
    width: 70%;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar {
    justify-content: flex-start;
  }

  .navbar-item {
    font-size: 24px;
  }

  .page-header {
    padding: 10px;
    font-size: 1.2em;
  }

  .cash-input,
  .total-input {
    width: 60%;
    max-width: 300px;
  }

  .big-btn {
    width: 100%;
    max-width: 350px;
  }
}


/* Styles for Purchase Coins Mobile */
@media screen and (max-width: 768px) {
  .page-text {
    margin-top: 15px;
    font-size: large;
  }

  .first-row,
  .second-row {
    flex-direction: row;
    flex-wrap: wrap;

    margin-bottom: 5px;
  }

  .total-input {
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    background-color: #5d5d5d;
    color: white;
    font-size: 18px;
  }

  .big-btn {
    width: 70%;
    max-width: 350px;
  }
}


/* Styles for Send Coins Mobile */
@media (max-width: 767px) {
  .send-coin-container {
  }

  .bottom-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .big-btn {
    width: 100%;
    margin-bottom: 10px;
  }
}


/* Styles for Preferences Mobile */
@media screen and (max-width: 600px) {
  .balance-container {
    text-align: center;
    min-height: 70vh;
    overflow-y: auto;
  }

  .balance-box {
    width: 100%;
  }

  .bottom-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .page-text {
    margin-bottom: 10px;
  }
}