/* Fonts */
@font-face {
  font-family: Haskoy;
  src: url(/Haskoy-Regular.woff2);
}

@font-face {
  font-family: Haskoy-bold;
  src: url(/Haskoy-Bold.woff2);
}


#root, body {
  background: #F7F7F7;
  height: 100vh;
}


/* Styles for primal HTML elements */
h1, h2, h3, h4, h5, h6, li, p, a, button, input, label {
  font-family: Haskoy;
}

h2 {
  font-size: 60px;
}

h1, h2, h3, h4, h5, h6, p {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 4px;
}

input {
  padding: 4px;
  border-radius: 2px;
  border: 2px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: black;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 12px;
}


/* Styles for common elements */
.big-btn {
  background-color: black;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: x-large;
  font-weight: 600;
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 24px;
}

.big-btn:hover {
  background-color: #3AD820;
  color: black;
}

.big-btn-light {
  background-color: #F7F7F7;
  color: #231F20;
  text-decoration: none;
  text-align: center;
  font-size: x-large;
  font-weight: 600;
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 24px;
  width: 300px;
}

.big-btn-light:hover {
  background-color: #3AD820;
  color: black;
}


.button-group {
  margin-bottom: 24px;
}

.bottom-btn-container {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 24px;
  padding: 24px;
  bottom: 36px;
}

/* TODO: fix this duplicate */
.bottom-btn-container-light {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: start;
  margin-top: 24px;
  padding: 24px;
}

/* TODO: fix this duplicate */
.bottom-btn-container-light {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 24px;
  padding: 24px;
  bottom: 24px;
}

.button-group {
  margin-bottom: 24px;
}

.bottom-btn-container {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 24px;
  padding: 24px;
  bottom: 36px;
}

.bottom-btn-container a {
  margin: 4px;
}


/* Styles for App-Layout */
.app-layout {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

header {
  flex: 0 0 auto;
}

.main-content {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 24px;
}

footer {
  flex: 0 0 auto;
  background-color: darkslategray;
  color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
}

.footer-link {
  color: lightgray;
  font-family: unset;
}

/* Styles for Navbar */
.sirchcoins-logo {
  width: 60px;
}

.navbar {
  list-style-type: none;
  margin: 0px;
  padding: 8px !important;
  background-color: black;
}

.navbar-item {
  font-size: 24px;
  color: white;
}

.navbar-item > a {
  text-decoration: none;
}

.navbar-item > a > div > * {
  text-decoration: none;
  font-size: 36px;
  vertical-align: middle;
  color: #3AD820;
}


/* Styles for Home page */
.home-page {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-around;
}

.right-button-container {
  display: flex;
  flex-direction: column;
}

.left-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.right-button-container > a, .left-button-container > a {
  text-decoration: none;
  color: white;
}

.right-button-container > a:hover, .left-button-container > a:hover {
  background-color: #3AD820;
  color: black;
}

.action-btn {
  margin-top: 32px;
  width: 280px;
  height: 80px;
  border-radius: 8px;
  font-size: 32px;
  background-color: #231F20;
  cursor: pointer;
  text-align: center;
  font-family: Haskoy;
  padding: 16px;
}

.right-button-container {
  margin-right: 64px;
}

.left-button-container {
  margin-left: 64px;
}


/* Styles for Coming Soon Page */
.coming-soon-container {
  position: fixed;
  background-color: #231F20;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0;
  grid-column-gap: 12px;
  grid-row-gap: 0px;
}

.coming-soon-img {
  padding: 48px;
}

.coming-soon-text {
  padding: 36px;
}

.coming-soon-container h1 {
  color: white;
}

.coming-soon-container p {
  color: white;
  font-size: 24px;
  text-align: left;
}


/* Styles for Offline Page */
.offline-container {
  position: fixed;
  background-color: #231F20;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}

.offline-img {
  padding: 48px;
}

.offline-text {
  padding: 36px;
}

.offline-container h1 {
  color:white;
}

.offline-container p {
  color:white;
  font-size: 24px;
  text-align: left;
}


/* Styles for Login Page */
.account-privacy-statement {
  width: 75%;
}

.account-input {
  background-color: #231F20;
  color: white;
  font-size: 36px;
  padding: 12px;
  padding-left: 16px;
  margin: 12px 0px 12px 0px;
  width: 75%;
  border-radius: 4px;
}

.account-button {
  background-color: #231F20;
  font-size: 36px;
  margin-bottom: 24px;
}

.account-button:hover {
  background-color: #3AD820;
  color: black;
}

.account-row {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

input#email {
  width: 65%;
}

input#first-name, input#last-name {
  width: 30%;
}

div#is-email-private {
  display: contents;
}

input#is-email-private-checkbox {
  width: min-content;
  margin: 0px;
}

label#is-email-private-label {
  vertical-align: middle;
  margin: 0px;
}

div#is-name-private {
  display: contents;
}

input#is-name-private-checkbox {
  width: min-content;
  margin: 0px;
}

label#is-name-private-label {
  vertical-align: middle;
  margin: 0px;
}

div#account-user-handle-row {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 24px;

  button {
    margin: 8px 0px;
  }

  div {
    width: 30%;
  }
}

input#user-handle {
  width: 30%;
  text-align: center;
  padding-left: unset;
}


/* Styles for About Page */
.about-container {
  background-color: #231F20;
}

.about-img {
  padding: 48px;
}

.about-text {
  padding: 36px;
}

.about-container p {
  color:white;
  font-size: 24px;
  text-align: left;
}


/* Styles for Send Coins */
.user-card {
  border: 2px solid black;
}

.user-card:hover {
  background-color: #3AD820;
  color: black;
  cursor: pointer;
}

.price-container {
  margin-top: 60px;
  position: relative;
  display: inline-block;
}

.coin-input {
  margin: 0 auto;
  padding: 24px;
  width: 350px;
  background-color: #231F20;
  color: white;
  border: none;
  font-size: 24px;
  margin: 12px;
}

.coin-input::before {
  content: '';
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  height: 70%;
  width: 2px;
  background-color: white;
  z-index: 1;
}

.coin-input::placeholder {
  color: white;
  font-weight: 500;
}

.bold-coin {
  font-family: Haskoy-bold;
  font-size: 24px;
}


/* Styles for My Account Page */
.account-container {
  margin: 2rem;
  height: 100%;
}

.account {
  padding-bottom: 1.2rem;
  padding-top: 1.2rem;
}

.account-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button.danger {
  background-color: red;
}

.delete-dialog {
  height: 80vh;
  z-index: 100;
  max-width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 24px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  p, .big-btn, #user-handle {
    width: 100%
  }
}


/* Styles for Purchase Page */
.purchase-container {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    overflow-y: auto;
}

.purchase-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  z-index: 100;
}


/*  Styles for Checkout Dialog */
.checkout-form-dialog {
  z-index: 100;
  max-width: 90vw;
  max-height: 80vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.payment-dialog {
}

.payment-header {
}

.payment-form {
  height: auto;
  padding-bottom: 24px;
}

.payment-footer {

}

.coin-amount-input {
  max-width: 40%;
  border: 2px solid black;
  font-size: xx-large;
  margin-bottom: 10px;
}

.sirch-symbol-large {
  font-size: xx-large;
  padding-right: 12px;
}


/* Styles for the success message */
.success {
  background-color: lightgreen;
  padding: 12px;
  border-radius: 4px;
  margin-top: 24px;
}


/* Styles for Transaction History */
.transactions-container {
  margin: 24px;
  height: 100%;
  overflow-y: auto;
}

.transactions-header {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 4px;
  padding: 0px 8px 12px 8px;
  position: sticky;
  top: 0; 
  background-color: #f4f4f4;
  border-bottom: 1px solid #ccc;
}

.transactions-header p {
  font-family: Haskoy-bold;
  font-size: 24px;
  text-align: left;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.transaction-row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 4px;
  padding: 12px 8px 12px 8px;
}

.transaction-details {
  cursor: pointer;
}

.transaction-row p {
  text-align: left;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.transaction-row:nth-child(odd) {
  background-color: white;
}

.transaction-row:nth-child(even) {
  background-color: lightgrey;
}




















/* Responsive styles */
@media (max-width: 768px) {
  .purchase-container {
    margin: 1rem;
    min-height: 90vh;
    padding: 0 1rem;
    justify-content: flex-start;
    align-items: stretch;
  }

  button {
    padding: 12px;
    font-size: 1rem;
    margin-top: 12px;
  }

  .bottom-btn-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 36px;
    display: flex;
    justify-content: center;
    padding: 16px 0;
    margin-top: 24px;
  }

  .big-btn {
    font-size: large;
    padding: 12px;
    margin-bottom: 24px;
    bottom: 36px;
  }

  .coin-input {
    padding: 12px;
    font-size: 1rem;
  }
}



/* Mobile styles */
@media only screen and (min-width: 768px) {
  .email-balance,
  .balance-btn {
    width: 70%;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar {
    justify-content: flex-start;
  }

  .navbar-item {
    font-size: 24px;
  }

  .page-header {
    padding: 12px;
    font-size: 1.2em;
  }

  .cash-input,
  .total-input {
    width: 60%;
    max-width: 300px;
  }

  .big-btn {
    width: 100%;
    max-width: 350px;
  }
}


/* Styles for Purchase Coins Mobile */
@media screen and (max-width: 768px) {
  .page-text {
    margin-top: 16px;
    font-size: large;
  }

  .first-row,
  .second-row {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 4px;
  }

  .total-input {
    width: 100%;
    margin: 12px 0;
    padding: 16px;
    background-color: #5d5d5d;
    color: white;
    font-size: 16px;
  }

  .big-btn {
    width: 70%;
    max-width: 350px;
  }
}


/* Styles for Send Coins Mobile */
@media (max-width: 767px) {
  .send-coin-container {
  }

  .bottom-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
  }

  .big-btn {
    width: 100%;
    margin-bottom: 12px;
  }
}


/* Styles for Preferences Mobile */
@media screen and (max-width: 600px) {
  .balance-container {
    text-align: center;
    min-height: 70vh;
    overflow-y: auto;
  }

  .balance-box {
    width: 100%;
  }

  .bottom-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .page-text {
    margin-bottom: 12px;
  }
}