@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    /* base font size/face for rem metrics */
    font-family: Haskoy;
    font-size: 16px;
  }

  /* Fonts */
  @font-face {
    font-family: Haskoy;
    src: url(./assets/fonts/Haskoy/Haskoy-Regular.woff2);
  }

  @font-face {
    font-family: Haskoy-bold;
    src: url(./assets/fonts/Haskoy/Haskoy-Bold.woff2);
  }

  #root, body {
    background: #F7F7F7;
    height: 100vh;
  }
  
  
  /* Styles for primitive HTML elements */
  h1, h2, h3, h4, h5, h6, li, p, a, button, input, label {
    font-family: Haskoy;
  }
  
  h2 {
    font-size: 60px;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    text-align: center;
  }
  
  form {
    display: block;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 4px;
  }
    
  button {
    background-color: purple;
    color: black;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 12px;
  }
}






/* Styles for common elements */
.big-btn {
  @apply h-14 p-6 bg-gray-900 mb-6 rounded-lg text-white text-2xl text-center;
  font-family: Haskoy, sans-serif;
}

.big-btn:hover {
  background-color: #3AD820;
  color: black;
}

.bottom-btn-container {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 24px;
  padding: 24px;
  bottom: 36px;
}

.bottom-btn-container a {
  margin: 4px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  z-index: 100;
}




/* this one from PurchaseCoins */
.coin-input {
  width: 24rem;
}




/* Shared Styles for Create/Update/Password Account Components */
.account-privacy-statement {
  width: 75%;
}

.account-input {
  background-color: #231F20;
  color: white;
  font-size: 36px;
  padding: 12px;
  padding-left: 16px;
  margin: 12px 0px 12px 0px;
  width: 75%;
  border-radius: 4px;
}

.account-row {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

input#email {
  width: 65%;
}

div#account-user-handle-row {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 24px;
}

div#account-user-handle-row button {
  margin: 8px 0px;
}

div#account-user-handle-row div {
  width: 30%;
}

input#user-handle {
  width: 30%;
  text-align: center;
  padding-left: unset;
}

/* Responsive */
@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1200px) {
  .big-btn {
    height: h-14;
    width: 100%;
    max-width: 350px;
  }
}
